// tablet design
@media (max-width:1000px){
    header{
        flex-direction: column;

        .headerImgContainer{
            width:100%;
        } 

        .headerContentContainer{
            width:100%;
            padding:30px 90px 40px;
        }
    }


    footer{
        h4{
            margin-bottom: 40px;
        }
        .footerFlexContainer{
            flex-direction: column;
            align-items: center;
        }
        .footerNav{
            width:85%;
        }
    }
}

// Mobile design

@media (max-width:500px){
    .navBar {
        .wrapper{
            flex-direction: column;
        }
        .logo{
            margin:7px 0 12px;
        }
    }

    .slideOutNav {
        font-family: $primaryFont;
        @include fontSize(30);
        
    }

    .categories {
        padding:90px 0;
        .categoryGallery {
            flex-direction: column;
        }
        .item{
            width:100%;
        }
    }

    .play{
        padding:0;

        h3{
            font-size: 2rem;
        }
    }


    footer {
        .footerNav{
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            ul{
                margin-top:40px;
            }
        }
    }
}
    